/*========= SETTINGS PAGE =========*/

.si-ab-shortcodes-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 20px;
}

.si-ab-shortcodes-list li {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.si-ab-shortcodes-list li figure {
    margin: 0;
    padding: 0;
}

.si-ab-shortcodes-list li figure > a, .si-ab-shortcodes-list li figcaption a {
    text-decoration: none;
    display: block;
    outline: none;
    border: none;
    box-shadow: none;
}

.si-ab-shortcodes-list li figure > a {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 0 0 rgba(50,151,217,0.2);
    transition: all 0.3s ease;
}

.si-ab-shortcodes-list li figure > a:hover {
    box-shadow: 0 0 0 5px rgba(0,0,0,0.06);
}

.si-ab-shortcodes-list li figcaption {
    text-align: center;
    padding-top: 10px;
}

.si-ab-shortcodes-list li figcaption a {
    color: #2271b1;
    transition: all 0.25s ease;
}

.si-ab-shortcodes-list li figcaption a:hover {
    color: #000;
}

/*========= SINGLE SHORTCODE PAGE =========*/
.si-ab-shortcodes-single-page {
    max-width: 840px;
}

.si-ab-shortcodes-single-page h2 {
    font-weight: 400;
}

.si-ab-shortcodes-single-section {
    margin-bottom: 30px;
    display: block;
    float: none !important;
}

.si-ab-shortcodes-single-section.back {
    display: inline-block;
}

.si-ab-shortcodes-single-section.back span {
    margin-right: 10px;
}

.si-ab-shortcodes-single-section.back a {
    color: #2271b1;
    border: 1px solid #2271b1;
    text-decoration: none;
    border-radius: 4px;
    min-height: 30px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    box-shadow: none;
    outline: none;
    transition: all 0.2s ease;
}

.si-ab-shortcodes-single-section.back a:hover {
    color: #000;
    border-color: #000;
}

.si-ab-shortcodes-single-section code {
    margin: 0;
    background-color: #f0f0f1;
    background: rgba(0,0,0,.07);
    font-size: 13px;
    display: block;
    overflow-x: auto;
    padding: 1em;
}

.si-ab-shortcodes-single-section.preview .preview-content {
    padding: 2em;
    background: #fff;
}

.si-ab-shortcodes-single-section.options table {
    table-layout: fixed;
    background-color: #fff;
    border: 1px solid #c3c4c7;
    border-spacing: 0;
    width: 100%;
    clear: both;
    margin: 0;
}

.si-ab-shortcodes-single-section.options tbody tr:nth-child(odd) {
    background-color: #f6f7f7;
}

.si-ab-shortcodes-single-section.options tbody tr td,
.si-ab-shortcodes-single-section.options tbody tr th {
    padding: 8px 10px;
    text-align: left;
}

/*========= RECENT POSTS =========*/
.si-ab-shortcodes-recent-posts {

}
