:root {
    --primary-color: #3497da;
    --accent-color: #f2b749;
    --black-color: #000;
    --white-color: #fff;
    --gray-color: #ededee;
}

img {
    height: auto;
    max-width: 100%;
}

embed, iframe, object {
    max-width: 100%;
}

/*========= RECENT POSTS =========*/
.si-ab-shortcodes-recent-posts h2 {
    font-size: 1.125rem;
    line-height: 1.4;
    font-weight: 700;
    margin: 0 0 30px;
}

.si-ab-shortcodes-recent-posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.si-ab-shortcodes-recent-posts ul li:not(:last-child) {
    margin-bottom: 30px;
}

.si-ab-shortcodes-recent-posts ul li figure {
    margin: 0;
    padding: 0;
    display: flex;
}

.si-ab-shortcodes-recent-posts ul li figure div {
    background-color: var(--gray-color);
    line-height: 0;
    min-width: 72px;
    min-height: 72px;
}

.si-ab-shortcodes-recent-posts ul li figure img {
    width: 100%;
}

.si-ab-shortcodes-recent-posts ul li figcaption {
    margin: 0 0 0 10px;
    text-align: left;
    line-height: 0;
}

.si-ab-shortcodes-recent-posts ul li figcaption .post-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 5px;
    color: var(--black-color);
    text-decoration: none;
    display: inline-block;
    transition: all 0.25s ease;
}

.si-ab-shortcodes-recent-posts ul li figcaption p {
    font-size: 13px;
    line-height: 1.2em;
    margin: 0;
}

.si-ab-shortcodes-recent-posts ul li figcaption .title:hover {
    color: var(--accent-color);
}

.si-ab-shortcodes-recent-posts ul li figcaption time {
    display: block;
    font-size: 12px;
    line-height: 1.2em;
    opacity: .6;
    margin: 0 0 5px;
}

/*========= SINGLE LATEST POST =========*/
.si-ab-shortcodes-single-latest-post h2 {
    font-size: 1.125rem;
    line-height: 1.4;
    font-weight: 700;
    margin: 0 0 30px;
}

.si-ab-shortcodes-single-latest-post figure {
    margin: 0;
    padding: 0;
}

.si-ab-shortcodes-single-latest-post  {
    position: relative;
}

.si-ab-shortcodes-single-latest-post figure > a {
    position: relative;
    background-color: var(--gray-color);
    overflow: hidden;
    display: block;
}

.si-ab-shortcodes-single-latest-post figure picture div {
    line-height: 0;
}

.si-ab-shortcodes-single-latest-post figure picture img {
    width: 100%;
    object-fit: cover;
}

.si-ab-shortcodes-single-latest-post figure > a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 240px;
    background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
    left: 0;
    z-index: 0;
}

.si-ab-shortcodes-single-latest-post figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    color: var(--white-color);
    padding: 0 27px 40px;
}

.si-ab-shortcodes-single-latest-post figure figcaption h2 {
    font-size: 36px;
    line-height: 1.1em;
    font-weight: 600;
    margin: 0 0 15px;
    text-align: left;
    color: var(--white-color);
}

.si-ab-shortcodes-single-latest-post figure figcaption .date-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.si-ab-shortcodes-single-latest-post figure figcaption p {
    padding-top: 5px;
    text-align: left;
}

.si-ab-shortcodes-single-latest-post figure figcaption time {
    font-size: 17px;
    line-height: 1.5em;
    font-weight: 600;
}

.si-ab-shortcodes-single-latest-post figure figcaption .read-more {
    position: relative;
    font-size: 17px;
    line-height: 1.5em;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
    color: var(--white-color);
    padding-right: 20px;
    display: inline-block;
    transition: all 0.25s ease;
}

.si-ab-shortcodes-single-latest-post figure figcaption .read-more i {
    font-style: normal;
    position: absolute;
    right: 0;
    top: 50%;
    width: 14px;
    height: 2px;
    background-color: var(--white-color);
    transform: translateY(-50%);
    border-radius: 2px;
    transition: all 0.25s ease;
}

.si-ab-shortcodes-single-latest-post figure figcaption .read-more i::after,
.si-ab-shortcodes-single-latest-post figure figcaption .read-more i::before {
    content: "";
    position: absolute;
    right: 1px;
    top: 0;
    width: 9px;
    height: 2px;
    background-color: var(--white-color);
    transform-origin: center right;
    border-radius: 2px;
    transition: all 0.25s ease;
}

.si-ab-shortcodes-single-latest-post figure figcaption .read-more i::after {
    transform: rotate(45deg);
}

.si-ab-shortcodes-single-latest-post figure figcaption .read-more i::before {
    transform: rotate(-45deg);
    right: 1px;
}

.si-ab-shortcodes-single-latest-post figure figcaption .read-more:hover {
    text-decoration: none;
    color: var(--accent-color);
}

.si-ab-shortcodes-single-latest-post figure figcaption .read-more:hover i {
    background-color: var(--accent-color);
}

.si-ab-shortcodes-single-latest-post figure figcaption .read-more:hover i::after {
    transform: rotate(35deg);
    background-color: var(--accent-color);
}

.si-ab-shortcodes-single-latest-post figure figcaption .read-more:hover i::before {
    transform: rotate(-35deg);
    background-color: var(--accent-color);
}


/*========= LATEST POSTS =========*/
.si-ab-shortcodes-latest-posts h2 {
    font-size: 1.125rem;
    line-height: 1.4;
    font-weight: 700;
    margin: 0 0 30px;
}

.si-ab-shortcodes-latest-posts .latest-posts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 26px;
    margin-bottom: 10px;
}

.si-ab-shortcodes-latest-posts .latest-posts-grid figure {
    margin: 0;
    padding: 0;
    position: relative;
}

.si-ab-shortcodes-latest-posts .latest-posts-grid figure a {
    display: block;
    overflow: hidden;
    line-height: 0;
    width: 100%;
    transition: all 0.25s ease;
}

.si-ab-shortcodes-latest-posts .latest-posts-grid figure a:hover {
    opacity: 0.85;
}

.si-ab-shortcodes-latest-posts .latest-posts-grid figure img {
    width: 100%;
    object-fit: cover;
}

.si-ab-shortcodes-latest-posts .latest-posts-grid figure figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    text-align: left;
    padding: 0 15px 23px;
}

.si-ab-shortcodes-latest-posts .latest-posts-grid figure figcaption h2 {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
    line-height: 1em;
    color: var(--white-color);
}

.si-ab-shortcodes-latest-posts .latest-posts-grid figure figcaption time {
    font-size: 12px;
    line-height: 1em;
    color: var(--white-color);
}

/*========= ERROR PAGE =========*/
.si-ab-shortcodes-error-page {
    text-align: center;
    padding: 90px 0 60px;
}

.si-ab-shortcodes-error-page h2 {
    font-size: 35px;
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: inherit;
}

.si-ab-shortcodes-error-page h3 {
    font-size: 25px;
    line-height: 1em;
    font-weight: 400;
    margin-bottom: 50px;
    color: inherit;
}

.si-ab-shortcodes-error-page > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 230px;
    line-height: 1em;
    color: inherit;
    margin-bottom: 30px;
}

.si-ab-shortcodes-error-page svg {
    width: 230px;
    fill: inherit;
}

.si-ab-shortcodes-error-page em {
    font-style: normal;
}

.si-ab-shortcodes-error-page .back-to-home {
    outline: none;
    margin: 3px;
    box-sizing: border-box;
    display: inline-block;
    text-transform: capitalize;
    background: rgba(0,0,0,.07);
    white-space: nowrap;
    border: 1px solid rgba(0,0,0,.07);
    box-shadow: none;
    text-decoration: none;
    padding: 13px 15px;
    color: var(--black-color);
    font-size: 13px;
    transition: all 0.25s ease-out;
}

.si-ab-shortcodes-error-page .back-to-home a {
    line-height: 1em;
    font-weight: 700;
    color: var(--white-color);
    text-decoration: none;
    transition: all 0.25s ease-out;
}

.si-ab-shortcodes-error-page .back-to-home:hover {
    background-color: transparent;
}

.si-ab-shortcodes-error-page .back-to-home a:hover a {
    color: var(--accent-color);
}


/*========= LEAGUES MENU =========*/
.si_ab_shortcodes_leagues_menu h2 {
    font-size: 1.125rem;
    line-height: 1.4;
    font-weight: 700;
    margin: 0 0 30px;
}

.si_ab_shortcodes_leagues_menu ul {
    padding: 0;
    margin: 0 0 30px;
    list-style: none;
}

.si_ab_shortcodes_leagues_menu ul li {
    margin: 0;
    font-size: 14px;
    line-height: 1em;
    font-weight: 400;
}

.si_ab_shortcodes_leagues_menu ul li a {
    color: #000;
    padding: 11px 25px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.25s ease;
    border-bottom: 1px solid var(--gray-color);
}

.si_ab_shortcodes_leagues_menu ul li a:focus,
.site a:focus:not(.wp-block-button__link):not(.wp-block-file__button),
.site a:focus:not(.wp-block-button__link):not(.wp-block-file__button) img {
    outline: none;
    text-decoration: none;
    background: none;
}

.si_ab_shortcodes_leagues_menu ul li:hover a:not(.active) {
    color: var(--accent-color);
}

.si_ab_shortcodes_leagues_menu ul li .active {
    background: rgba(25,116,210,0.2);
    border-bottom: 1px solid transparent;
    cursor: default;
    color: var(--black-color);
}

.si_ab_shortcodes_leagues_menu ul li a picture {
    line-height: 0;
    margin: 0 15px 0 0;
    padding: 0;
    width: 32px;
}

.si_ab_shortcodes_leagues_menu ul li a picture img {
    width: 100%;
}

/*========= POPULAR NEWS =========*/
.si-ab-shortcodes-popular-news h2 {
    font-size: 1.125rem;
    line-height: 1.4;
    font-weight: 700;
    margin: 0 0 30px;
}
.si-ab-shortcodes-popular-news a {
    position: relative;
    display: inline-block;
    line-height: 0;
}

.si-ab-shortcodes-popular-news .post:not(:last-child) {
    border-bottom: 1px solid var(--gray-color);
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.si-ab-shortcodes-popular-news .post figure {
    margin: 0;
    line-height: 0;
}

.si-ab-shortcodes-popular-news .post figure > a {
    overflow: hidden;
}

.si-ab-shortcodes-popular-news .post figure > a:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
    background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
}

.si-ab-shortcodes-popular-news .post figure > a:hover:after {
    height: 80%;
}

.si-ab-shortcodes-popular-news .post figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px 15px;
    z-index: 1;
}

.si-ab-shortcodes-popular-news .post figcaption .title {
    color: var(--white-color);
    font-size: 18px;
    line-height: 1em;
    font-weight: bold;
    margin-bottom: 20px;
}

.si-ab-shortcodes-popular-news .post figcaption p {
    color: var(--white-color);
    font-size: 14px;
    opacity: .7;
    margin: 0;
}

.si-ab-shortcodes-popular-news .post figcaption time {
    color: var(--white-color);
    font-size: 12px;
    display: block;
    margin-bottom: 15px
}

.si-ab-shortcodes-popular-news .post .label {
    background-color: var(--accent-color);
    color: var(--white-color);
    display: inline-block;
    padding: 0 7px;
    font-size: 11px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20px, 20px);
}

.si-ab-shortcodes-popular-news .post > .title {
    margin: 0 0 5px;
}

.si-ab-shortcodes-popular-news .post > .title a {
    font-size: 18px;
    line-height: 1.4em;
    font-weight: bold;
    text-decoration: none;
    color: var(--black-color);
    transition: all 0.25s ease;
}

.si-ab-shortcodes-popular-news .post > time {
    font-size: 13px;
    display: block;
    opacity: .7;
}

.si-ab-shortcodes-popular-news .post > .title a:hover {
    color: var(--accent-color);
}

/*========= MEDIA =========*/
@media screen and (min-width: 320px) and (max-width: 1199px) {
    .si-ab-shortcodes-single-latest-post figure figcaption figcaption {
        padding: 0 15px 15px;
    }

    .si-ab-shortcodes-single-latest-post figure figcaption h2 {
        font-size: 20px;
        margin: 0 0 5px;
    }
}

@media screen and (min-width: 451px) and (max-width: 782px) {
    .si-ab-shortcodes-latest-posts .latest-posts-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 320px) and (max-width: 450px) {
    .si-ab-shortcodes-latest-posts .latest-posts-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


